.top-navbar {
  background-color: black;
  position: relative !important;
  z-index: 1001 !important;
}

.top {
  height: 40px;
}

.top-navbar a {
  color: white;
  font-size: 14px;
}

.top-navbar a:hover {
  text-decoration: none;
}

.separate {
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
}

.languageFlag {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.idiomaOpcion {
  color: black !important;
}

.idiomaOpcion:hover {
  color: white !important;
  background-color: #5e0928;
}

@media (max-width: 992px) {
  .top-navbar span {
    display: none;
  }
}

/* NAVBAR */

.menu-navbar {
  background-color: white;
  z-index: 1000 !important;
}

.nav-item a {
  color: black !important;
}

.nav-item.active a {
  font-weight: bold !important;
  color: #5e0928 !important;
}

@media (min-width: 992px) {
  .nav-item.active a {
    border-bottom: 2px solid #5e0928 !important;
  }
}

/* Fer efecte invers al boton de login register*/
.loginRegister:hover,
.verMas:hover {
  color: #5e0928;
  background-color: white;
  border-color: #5e0928;
}

/*HEADER*/
.bg-image {
  background-image: url("../img/properties/property1.jpg");
  height: 350px;
  filter: blur(3px);
  -webkit-filter: blur(3px);

  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
  animation-name: titulos;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 1s linear;
}

@keyframes titulos {
  from {
    top: 450px;
    opacity: 0;
  }
  to {
    top: 330px;
  }
}
